<div class="row">
    <div class="col-md-4 col-12">
        <form [formGroup]="form" (submit)="onSubmit()" class="mb-3 p-3 border rounded bold-label-form">
            <div class="form-group">
                <label for="formLocation">
                    Location
                </label>
                <input 
                    class="form-control" 
                    formControlName="address" 
                    ngx-google-places-autocomplete 
                    #placesRef="ngx-places" 
                    (onAddressChange)="handleAddressChange($event)">
            </div>
            <div class="slidecontainer form-group">
                <label for="formRange">
                    Radius in  <h5>{{distance}} km</h5>
                </label>
                <input type="range" 
                    #ref 
                    (change)="changeDistance(ref.value)" 
                    min="0" max="50" 
                    formControlName="distance"
                    class="slider" 
                    id="formRange">
            </div>
            <div class="form-group">
                <label for="formTitle">Title</label>
                <input type="text" id="formTitle" formControlName="title" class="form-control" placeholder="Search in results"/>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="formCategory">Category</label>
                        <select class="form-control" id="formCategory" formControlName="category" (change)="onChangeCategory($event)">
                            <option value="">All</option>
                            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="formSubcategory">Sub Category</label>
                        <select class="form-control" id="formSubcategory" 
                        formControlName="subcategory"
                        (change)="onChangeSubcategory($event)" >
                            <option value="">All</option>
                            <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</option>
                        </select>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="formSort">Sort by</label>
                        <select type="text" id="formSort" formControlName="sortBy" class="form-control">
                            <option value="date_ascending">Date Ascending</option>
                            <option value="date_descending">Date Descending</option>
                            <option value="price_ascending">Price Ascending</option>
                            <option value="price_descending">Price Descending</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <button type="submit" class="btn btn-primary mr-3">Submit</button>
            <button type="button" class="btn btn-outline-secondary" (click)="clearFilters()">Clear Filters</button>
        </form>
        
    </div>
    <div class="col-md-8 col-12">
        <div *ngIf="services.length > 0">
            <ul class="list-group">
                <a *ngFor="let service of services" class="list-group-item-link" routerLink="../services/{{service.id}}">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <h4>{{service.title}}</h4>
                            </div>
                            <span>{{service.category_name}} >> {{service.subcategory_name}}</span>
                            <div class="col-6">
                                <h5>Php{{service.price_range}}</h5>
                            </div>
                        </div>
                        <p>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            {{service.location}}
                        </p>
                        <a class="text-info">{{service.first_name}} {{service.last_name}}</a>
                    </li>
                </a>
            </ul>
            <div class="row justify-content-center mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><button class="page-link" (click)="prevPage()">Previous</button></li>
                      <li class="page-item"><button class="page-link" (click)="nextPage()">Next</button></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div *ngIf="services.length==0">
            There are no services here!
        </div>
    </div>
</div>

