<div class="container">
    
    <div *ngIf="bookings.length > 0">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let booking of bookings">
                <h4><a class="text-dark" routerLink="../jobs/{{booking.job_id}}">Check out the job</a></h4>
                <span>Php {{booking.price}}</span>
                <p>Status: <span *ngIf="booking.status==0" class="text-info">Waiting for Approval</span>
                    <span *ngIf="booking.status==1" class="text-info">In Progress</span>
                    <span *ngIf="booking.status==2" class="text-danger">Cancelled</span>
                    <span *ngIf="booking.status==3" class="text-success">
                        Completed
                        <button class="btn btn-outline-info"  (click)="open(content)">Leave a Review</button>
                    </span></p>
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Leave a review</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        <app-post-review [booking]="booking"></app-post-review>
                        
                    </ng-template>
            </li>
        </ul>
    </div>
    <div *ngIf="bookings.length ==0">
        <h4>You don't have any job applications currently.</h4>
    </div>
</div>