<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Service Description</h2> <hr/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="formName">Title</label>
                    <input type="text" id="formTitle" formControlName="title" class="form-control" placeholder="Enter the title of your service" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="formName">Price</label>
                    <input type="number" id="formTitle" min="1" formControlName="priceRange" class="form-control" placeholder="Enter the price range of your service" [ngClass]="{ 'is-invalid': submitted && f.priceRange.errors }">
                    <div *ngIf="submitted && f.priceRange.errors" class="invalid-feedback">
                        <div *ngIf="f.priceRange.errors.required">Price is required</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="formDescription">Description</label>
            <textarea class="form-control" formControlName="description" id="formDescription" rows="3" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">Payment methods, listing description, etc.</textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="formAddress">Location</label>
            <input class="form-control" formControlName="address" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Location is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="formCategory">Category</label>
                    <select class="form-control" id="formCategory" formControlName="category" (change)="onChangeCategory($event)">
                    <!-- <select class="form-control" id="formCategory" formControlName="category" 
                    #categorySelect (change)="onChangeCategory(categorySelect.value, categorySelect)"> -->
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </div>
                
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="formSubcategory">Sub Category</label>
                    <select class="form-control" id="formSubcategory" 
                    formControlName="subcategory"
                    (change)="onChangeSubcategory($event)" >
                        <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</option>
                    </select>
                </div>
            </div>
        </div> 
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>