<h1>Jobs in your area</h1>
<form [formGroup]="form" (submit)="onSubmit()" class="mb-3">
    <div class="form-group">
        <label for="formLocation">
            Location
        </label>
        <input 
            class="form-control" 
            formControlName="address" 
            ngx-google-places-autocomplete 
            #placesRef="ngx-places" 
            (onAddressChange)="handleAddressChange($event)">
    </div>
    <div class="slidecontainer form-group">
        <label for="formRange">
            Radius in km {{distance}}
        </label>
        <input type="range" 
            #ref 
            (change)="changeDistance(ref.value)" 
            min="0" max="50" 
            formControlName="distance"
            class="slider" 
            id="formRange">
    </div>
    <div class="form-group">
        <label for="formTitle">Title</label>
        <input type="text" id="formTitle" formControlName="title" class="form-control" placeholder="Search in results"/>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label for="formCategory">Category</label>
                <select class="form-control" id="formCategory" formControlName="category" (change)="onChangeCategory($event)">
                    <option value="">All</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </div>
            
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label for="formSubcategory">Sub Category</label>
                <select class="form-control" id="formSubcategory" 
                formControlName="subcategory"
                (change)="onChangeSubcategory($event)" >
                    <option value="">All</option>
                    <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</option>
                </select>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label for="formSort">Sort by</label>
                <select type="text" id="formSort" formControlName="sortBy" class="form-control">
                    <option value="date_ascending">Date Ascending</option>
                    <option value="date_descending">Date Descending</option>
                </select>
            </div>
        </div>
        
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
</form>
<div *ngIf="jobs.length > 0">
    <ul class="list-group">
        <li *ngFor="let job of jobs" class="list-group-item">
            <h4><a class="text-dark" routerLink="../jobs/{{job.id}}">{{job.title}}</a></h4>
            <span>{{job.category_name}} >> {{job.subcategory_name}}</span>
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                {{job.location}}
            </p>
            <a class="text-info">{{job.first_name}} {{job.last_name}}</a>
        </li>
    </ul>
    <div class="row justify-content-center mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><button class="page-link" (click)="prevPage()">Previous</button></li>
              <li class="page-item"><button class="page-link" (click)="nextPage()">Next</button></li>
            </ul>
        </nav>
    </div>
    
    
</div>
<div *ngIf="jobs.length==0">
    There are no jobs here!
</div>